body {
   font-family: 'Roboto', sans-serif;
   background-color: #f5f5f5;
}

.container {
   max-width: 750px;
   margin: 0 auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
   text-align: center;
   margin-bottom: 30px;
}

table {
   width: 100%;
   border-spacing: 0;
   border-collapse: separate;
   border-radius: 10px;
   overflow: hidden;
}

/* Maximum Number of Rows */
.drugListContainer {
  max-height: 350px;
  overflow-y: auto;
}

.drugListHeader {
  position: sticky;
  top: 0;
  background-color: #fff;
}




td:nth-child(2) {
   width: 50px;
}

/*font sizes of table*/
th,
td {
   text-align: center;
   padding: 12px;
   font-size: 14px
}

th {
   background-color: #333;
   color: white;
}

tr:nth-child(even) {
   background-color: #f2f2f2;
}


#cart {
   margin-top: 20px;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#cart table {
   width: 100%;
   border-collapse: collapse;
}

#cart th,
#cart td {
   text-align: center;
   padding: 8px;
}

#cart th {
   background-color: #333;
   color: white;
}

#total {
   text-align: right;
   margin-top: 20px;
   font-size: 20px;
   font-weight: bold;
   white-space: pre-line;
}


/* Add to cart button   */
.add-button {
  background-color: rgb(46, 64, 83);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.add-button:hover {
  background-color: rgb(74, 106, 138);
}

/* Width of monthly price   */
#cart td:nth-child(3) {
  width: 100px;
  text-align: center;
}

/* Width of Brand   */
#cart td:nth-child(2) {
  width: 100px;
  text-align: center;
}


/* remove button to align to right   */
#cart th:last-child,
#cart td:last-child {
  text-align: right;
}

.remove {
   background-color: #f44336;
   color: white;
   border: none;
   padding: 6px 14px;
   font-size: 14px;
   border-radius: 4px;
   cursor: pointer;
}

.remove:hover {
   background-color: #da190b;
}

/* picker styles */

.picker {
   margin-top: 5px;
   margin-bottom: 10px;
}

.picker label {
   display: inline-block;
   font-weight: bold;
   margin-right: 5px;

}

.picker select {
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   padding: 5px;
}



#cartItems td.quantity {
   text-align: center;
}


/* Input styles */
#searchBar {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}

#searchBar:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
